<app-neumorf-frame>
  <div ngProjectAs="neumorfik-kaskade">

    <app-navmenu>
      <nav ngProjectAs="manila-menu">
        <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] hover:text-[#04030A] hover:bg-[#F7F3EA]">My Clyde Church</a>
        <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] hover:text-[#04030A] hover:bg-[#F7F3EA]">About Us</a>
        <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] hover:text-[#04030A] hover:bg-[#F7F3EA]">Our Contacts</a>
        <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] hover:text-[#04030A] hover:bg-[#F7F3EA]">Learn More?</a>
      </nav>
    </app-navmenu>

    <app-neusladder></app-neusladder>

  </div>
</app-neumorf-frame>
