<main id="concave-fill" class="relative flex flex-wrap h-screen max-w-full bg-[#F7F3EA] overflow-hidden">
  <app-navmenu class="sm:container mx-auto">
    <h4 ngProjectAs="manila-menu">
      <a href="../../app.component.html" class="font-medium px-16 py-8 text-[#04030A] bg-[#E3DFF2] rounded hover:text-slate-900 hover:bg-slate-100">My Clyde Church</a>
      <a href="../../app.component.html" class="font-medium px-16 py-8 text-[#04030A] bg-[#E3DFF2] rounded hover:text-slate-900 hover:bg-slate-100">About Us</a>
      <a href="../../app.component.html" class="font-medium px-16 py-8 text-[#04030A] bg-[#E3DFF2] rounded hover:text-slate-900 hover:bg-slate-100">Our Contacts</a>
      <a href="../../app.component.html" class="font-medium px-16 py-8 text-[#04030A] bg-[#E3DFF2] rounded hover:text-slate-900 hover:bg-slate-100">Learn More?</a>
    </h4>
  </app-navmenu>

  <article id="newsletter-media-ulist">
    <section class="">

      <ul *ngFor="let card of cards" role="list" class="">
        <li class="">

          <div class="shrink-0">
            <img class="size-16" src="/public/favicon.ico" />
          </div>

          <app-card>
            <div class="">
              <h3 ngProjectAs="card-title">Lorem Ipsum</h3>
            </div>

            <div>
              <p ngProjectAs="card-description">"Lorem ipsum odor amet, consectetuer adipiscing elit."</p>
            </div>

            <button class="">
              Read more...?
            </button>
          </app-card>

        </li>
      </ul>

    </section>
  </article>

</main>
