<app-neumorf-frame>
  <main ngProjectAs="neumorfik-kaskade" id="concave-fill" class="w-full">

    <app-navmenu class="text-lg p-8 m-0 items-center">
      <h4 ngProjectAs="manila-menu">
        <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] bg-[#FFA07A] rounded-xl hover:text-[#04030A] hover:bg-[#F7F3EA]">My Clyde Church</a>
        <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] bg-[#FFA07A] rounded-xl hover:text-[#04030A] hover:bg-[#F7F3EA]">About Us</a>
        <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] bg-[#FFA07A] rounded-xl hover:text-[#04030A] hover:bg-[#F7F3EA]">Our Contacts</a>
        <a href="../../app.component.html" class="font-medium px-10 text-[#04030A] bg-[#FFA07A] rounded-xl hover:text-[#04030A] hover:bg-[#F7F3EA]">Learn More?</a>
      </h4>
    </app-navmenu>

    <app-neusladder></app-neusladder>

  </main>
</app-neumorf-frame>
